<%= turbo_stream.update :email_validation do %>
  <% @user.errors[:email].each do |error| %>
    <li class="text-md font-bold text-red-500 text-sm"><%= error %></li>
  <% end %>
<% end %>

<%= turbo_stream.update :password_validation do %>
  <% @user.errors[:password].each do |error| %>
    <li class="text-md font-bold text-red-500 text-sm"><%= error %></li>
  <% end %>
<% end %>
